<template>
  <q-page class="flex flex-center">
    <img src="http://pngimg.com/uploads/star_wars_logo/star_wars_logo_PNG42.png" alt="Star Wars Logo" width='600px'>
    <form @submit.prevent='pedirPersonajes ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Select content type'
        :options="entitySelectOptions"
        dark color='amber'
      />
      <q-input v-model="query" dark color='amber'/>
      <q-btn label='Buscar' color='yellow-6' class='boton' @click='pedirPersonajes ()'/>
      <div v-if='items.length > 0'>
        <q-card color='amber' v-for='(item,index) in items' :key='index' id='hola'>
          <q-card-title>
            {{ item.name }}
            {{ item.title }}
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main >
            <p>{{item.height}}</p>
            <p>{{item.eye_color}}</p>
            <p>{{ item.release_date }}</p>
            <p>{{ item.director }}</p>
            <p>{{item.eye_colors}}</p>
            <p>{{ item.language }}</p>
            <p>{{ item.skin_colors }}</p>
            <p>{{ item.model }}</p>
            <p>{{ item.starship_class }}</p>
            <p>{{ item.manufacturer }}</p>
          </q-card-main>
        </q-card>
      </div>
    </form>
  </q-page>
</template>

<style>
.boton{
  margin-top: 10px;
  margin-left: 4vw;
}
#hola{
  float: left;
  margin: 16px;
  margin-left: 90px;
  margin-top: 10px;
  height: 250px;
  width: 300px;
}
body{
  background-image: url('http://3.bp.blogspot.com/-9oCNRVJS54E/UnpZ6P1qirI/AAAAAAAAgiY/LM24k6s_kFg/s1600/estrellasAcabado.png');
}
img{
  width: 90%;
}
</style>

<script>
export default {
  data () {
    return {
      items: [],
      query: null,
      selectedEntity: 'people',
      entitySelectOptions: [
        {
          label: 'Películas',
          value: 'films'
        },
        {
          label: 'Personajes',
          value: 'people'
        },
        {
          label: 'Planetas',
          value: 'planets'
        },
        {
          label: 'Especies',
          value: 'species'
        },
        {
          label: 'Naves',
          value: 'starships'
        },
        {
          label: 'Vehículos',
          value: 'vehicles'
        }
      ]
    }
  },
  methods: {
    pedirPersonajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://swapi.co/api/' + entity + '/?search=' + query
      this.$axios.get(url)
        .then((res) => {
          this.items = res.data.results
          console.log(res.data.results)
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  }
}
</script>
